{% extends "base.html" %}
{% block title %}Eliminar Contacto {% endblock %}
{% block breadcrumb %}
    <a href="{% url "index" %}"><i class="fa fa-home"></i> Inicio</a>
    <!-- Divider -->
    <span class="divider">/</span>
    <a href="#" class="bread-current">Eliminar Contacto</a>
{% endblock %}

{% block contenedor_form %}
    <div class="col-md-12 portlets">
        <div class="widget">
            <div class="widget-head">
                <div class="pull-left"><i class="fa fa-trash-o"></i> Eliminar contacto</div>
                <div class="widget-icons pull-right">
                    <a href="#" class="wminimize"><i class="fa fa-chevron-up"></i></a>
                    <a href="#" class="wclose"><i class="fa fa-times"></i></a>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="widget-content">
                <div class="padd">
                    <div class="form quick-post">
                        <form id="delete-contacto" class="form-horizontal" method="post" action="">
                            {% csrf_token %}
                            <div class="form-group">
                                <div class="col-lg-10">
                                    {% include "form_snippet.html" %}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-offset-2 col-lg-9">
                                    <input type="submit" class="btn btn-primary" value="Eliminar Registro"/>
                                    <a href="{% url "lista_contactos_nuevos" %}" class="btn btn-danger">Cancelar</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="widget-foot">
                </div>
            </div>
        </div>
    </div>
{% endblock %}